<article class="tile" itemscope itemtype="http://schema.org/Article">
	
    
    <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}" class="post-feature">
      {% if post.image.feature %}
    	<div class="image">
        <img src="{{ site.url }}/images/{{ post.image.feature }}" alt="feature" itemprop="image">
      {% else %}<img src="{{ site.url }}/images/{{ site.feature }}" alt="feature" itemprop="image">
      {% endif %}
      </div>
      <div class="tile-content">
        <h2 class="post-title" itemprop="name">
        	<a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
        </h2>
        {% if post.date %}
        	<p class="entry-date date published" id="date">
        		<time datetime="{{ post.date | date: "%Y-%m-%d" }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time>
        	</p>
      	{% endif %}
      </div>
    </a>

</article><!-- /.tile -->
