/* ==========================================================================
   Tiles
   ========================================================================== */

.tile {
  @include outer-container;
  margin-bottom: $gutter;
  @include media($micro) {
    @include fill-parent;
  }
  @include media(new-breakpoint(min-width em(480) 12)) {
    @include span-columns(3);
    @include omega(3n);
  }
  
  /*padding: $gutter;*/
  min-height: 375px;
  padding: $gutter;
  position: relative;
  text-align: center;

  .post-title {
    @include font-size(16,no);
    text-align: center;
    padding-bottom: 0;
    text-transform: uppercase;
    
  }
  .entry-date {
    @include font-size(14,no);
    color: lighten($text-color,25);
  }

  .post-excerpt {
    @include font-size(12);
  }
  .post-feature {
    position: center;
    margin: auto;
    display: block;
    padding-top: 0;
 
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba($base-color,0);
      pointer-events: none;
      @include transition(background 0.3s);
    }

  }


  
}
/*.tile-content {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;    
  text-align: center;
}*/

