---
layout: default
---

<div id="main" role="main">			
	<div class="wrap">
		
		{% if page.image.feature %}
		<div class="page-feature">
			<div class="page-image">
				<img src="{{ site.url }}/images/{{ page.image.feature }}" class="page-feature-image" alt="{{ page.title }}">
				{% if page.image.credit %}{% include image-credit.html %}{% endif %}
			</div><!-- /.page-image -->
		</div><!-- /.page-feature -->
		{% endif %}
		<div class="page-title">
			<h1>{{ page.title }}</h1>
			{% if page.excerpt %}<h2>{{ page.excerpt }}</h2>{% endif %}
		</div>
		<div class="page-content">
			{% include page-meta.html %}
	        <div class="tags">
			  <a>Tags: </a>
			  {% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}

				<!-- `tag_words` is a sorted array of the tag names. -->
				{% assign tag_words = site_tags | split:',' | sort %}
			  {% for item in (0..site.tags.size) %}{% unless forloop.last %}
			    {% capture this_word %}{{ tag_words[item] }}{% endcapture %}
			    
	        	<a class="tag" href="/tag/{{ tag | slugify }}">{{ this_word }}</a>
		           
			  {% endunless %}{% endfor %}
			</div>
		</div>
		<div class="archive-wrap">
			<div class="page-content">
				{{ content }}
			</div><!-- /.page-content -->
		</div class="archive-wrap"><!-- /.archive-wrap -->
		<!-- {% include pagination.html %}	 -->
	</div><!-- /.wrap -->

	{% include footer.html %}
</div><!-- /#main -->